
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* background and white background */
body {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("./Images/Vitruvius.jpg") center/cover no-repeat fixed;
}

.basebackground {
    background: linear-gradient(rgba(255, 255, 255, 0.700), rgba(128, 128, 128, 0.700));
    width: 95%;
    margin: 2% 0 0 2.5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*Phrase*/
.tittleclass {
    text-align: right;
    font-size: 18px;
    padding: .4%;
}

.mainphrase{
    font-size: 14px;
}

/*Paragraph*/

.paragraph {
    text-align:justify;
    margin: 50px;
}

/*Tittle*/
.title {
    text-align: center;
    margin: 40px;
}