*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 19px;
}

/* background and white background */
body {
    /*Why this is not taking the doouble dot in the image*/
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../Images/Vitruvius.jpg") center/cover no-repeat fixed;
    margin-top: 100px;
}

.basebackground {
    background: linear-gradient(rgba(255, 255, 255, 0.884), rgba(128, 128, 128, 0.842));
    width: 95%;
    margin: 2% 0 0 2.5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*Phrase*/
.tittleclass {
    text-align: right;
    font-size: 18px;
    padding: .4%;
}

.mainphrase{
    font-size: 14px;
}

/*Main Content*/
.content {
    display: flex;
    flex-wrap:wrap;

}

.content > *:nth-child(1){
    flex: 1 1 20%;
    min-width: 25ch;
    background: linear-gradient(rgba(255, 255, 255, 0.952), rgba(128, 128, 128, 0.932));
    margin: 1em;
    border-radius: 10px;
}

.content > *:nth-child(2){
    flex: 1 1 70%;
    background: linear-gradient(rgba(255, 255, 255, 0.952), rgba(128, 128, 128, 0.932));
    margin: 1em;
    border-radius: 10px;
}

.title {
    text-align: center;
    margin: 2em;
}

.paragraph {
    text-align: justify;
    margin: 3em;
}

/*Aside Content*/

.log-in {
    padding: 1em;
    text-align: center;
    font-weight: bold;
}

.description {
    padding: 2em;
    text-align: justify;
}

.table2 {
    margin: 0 auto 50px auto;
}