
/*Table*/

.Table1 {
    margin: 0 auto 50px auto;
}

table {
    border-collapse: collapse;
}

table td, th{
    border: 1px solid;
    border-spacing: 15px;
    padding: 5px;
    text-align: center;
}

/* .img {
    height: 20%;
    width: 20%;
    border-radius: 5rem;
    border: 0.1rem solid black;
    outline: 0.1rem solid black;
    outline-offset: -0.3rem;
} */
/* 
#vitruvio{
    margin: 3.5rem 20% 0 40%;
} */

/* Box-Sizing: border-box */