*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

nav {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #000000;
    position: fixed;
    top: 0;
    height: 8vh;
    width: 100%;
}

label.logo a{
    font-size: 30px;
    line-height: 60px;
    padding: 0 80px;
    font-weight: bold;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
    line-height: 60px;
    margin: 0 10px;
}

nav ul li a {
    text-transform: uppercase;
    padding: 7px 11px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

nav ul li a:hover{
    background-color: rgb(46, 46, 46);
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    float: right;
    margin: 0 30px;
    line-height: 60px;
    display: none;
    cursor: pointer;
    color: white;
}
#check {
    display: none;
}

/*Now we start to use the MEDIA feature*/

@media(min-width: 952px){
    label.logo a{
        font-size: 25px;
        transition: .5s;
    }
}

@media(max-width:853px){
    label.logo a{
        font-size: 20px;
        transition: .5s;
    }
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #000000;
        left: -100%;
        text-align: center;
        transition: .5s;
    }
    nav ul li{
        display: block;
    }
    nav ul li a{
        font-size: 20px;
    }
    nav ul li a:hover{
        background: none;
        color: rgb(78, 78, 78);
    }
    #check:checked ~ ul {
        left: 0;
    }
}