.img {
    display: block;
    width:20em;
    height: 30em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5em;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}

#vitruvio {
    width: 15em;
    height: 15em;
}

div img {
    width: 200px;
    height: 400pxx;
    display: block;
    border-style: solid;
    border-radius: 150px;
    margin: 1em auto 1em auto;
}